/*div{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
h2{
    border: 1px solid green;
    background-color: yellow;;
}
h2{
    height: 150px;
    width: 200px;
    border: 1px solid green;
    background-color: yellow;
}*/

.container{
    display: flex;
    gap: 20px;
}
.item{
    width: 33.3%;
    margin-bottom:10px;
    background-color: #607d8b;
    color: white;
    padding: 20px;
    text-align: center;
}
